@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Sacramento&display=swap');

body {
    background-image: radial-gradient(#F9F9F9 20%, transparent 20%), radial-gradient(#FAFAFA 20%, transparent 20%);
    background-color: #CDF0EA !important;
    background-position: 0 0, 50px 50px;
    background-attachment: fixed;
    background-size: 100px 100px;
    font-family: 'Quicksand', sans-serif !important;
}

#container {
    background-color: #FFFF;
}

#header {
    background-color: #CDF0EA;
}

h1 {
    font-family: 'Sacramento', cursive !important;
    font-size: 5.625vw !important;
    margin-top: 3vw !important;
}

h2 {
    font-size: 2.5vw !important;
    margin-bottom: 3vw !important;
}

h1,
h2 {
    color: #4ac4af;
}

table svg {
    color: #ffda2d;
}

blockquote p {
    font-size: 16px;
}

#footer {
    background-color: #4ac4af;
}

#footer svg {
    color: #F9F9F9;
    margin: 10px;
}

#footer svg:hover {
    color: #8cd8cb;
}

#footer p {
    color: #F9F9F9;
}